<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Events.plist
   BoutTime

   Created by Gerardo Zayas on 7/3/17.
   Copyright (c) 2017 Little Yerri. All rights reserved.
-->
<plist version="1.0">
    <array>
        <dict>
            <key>movie</key>
            <string>Star Trek (TV)</string>
            <key>year</key>
            <integer>1966</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Star_Trek:_The_Original_Series</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Star Wars: Episode IV: A New Hope</string>
            <key>year</key>
            <integer>1977</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Star_Wars_(film)</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Star Wars Holiday Special (TV)</string>
            <key>year</key>
            <integer>1978</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Star_Wars_Holiday_Special</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Star Trek: The Motion Picture</string>
            <key>year</key>
            <integer>1979</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Star_Trek:_The_Motion_Picture</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Star Wars: Episode V: The Empire Strikes Back</string>
            <key>year</key>
            <integer>1980</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/The_Empire_Strikes_Back</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Star Trek II: The Wrath of Khan</string>
            <key>year</key>
            <integer>1982</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Star_Trek_II:_The_Wrath_of_Khan</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Star Wars: Episode VI: Return of the Jedi</string>
            <key>year</key>
            <integer>1983</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Return_of_the_Jedi</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Star Trek III: The Search for Spock</string>
            <key>year</key>
            <integer>1984</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Star_Trek_III:_The_Search_for_Spock</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Star Wars: Droids (TV)</string>
            <key>year</key>
            <integer>1985</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Star_Wars:_Droids</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Star Wars: Ewoks (TV)</string>
            <key>year</key>
            <integer>1985</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Star_Wars:_Ewoks</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Star Trek IV: The Voyage Home</string>
            <key>year</key>
            <integer>1986</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Star_Trek_IV:_The_Voyage_Home</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Star Trek: The Next Generation (TV)</string>
            <key>year</key>
            <integer>1987</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Star_Trek:_The_Next_Generation</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Star Trek V: The Final Frontier</string>
            <key>year</key>
            <integer>1989</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Star_Trek_V:_The_Final_Frontier</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Star Trek VI: The Undiscovered Country</string>
            <key>year</key>
            <integer>1991</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Star_Trek_VI:_The_Undiscovered_Country</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Star Trek: Deep Space Nine (TV)</string>
            <key>year</key>
            <integer>1993</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Star_Trek:_Deep_Space_Nine</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Star Trek Generations</string>
            <key>year</key>
            <integer>1994</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Star_Trek_Generations</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Star Trek: Voyager</string>
            <key>year</key>
            <integer>1995</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Star_Trek:_Voyager</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Star Trek: First Contact</string>
            <key>year</key>
            <integer>1996</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Star_Trek:_First_Contact</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Star Trek: Insurrection</string>
            <key>year</key>
            <integer>1998</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Star_Trek:_Insurrection</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Star Wars: Episode I: The Phantom Menace</string>
            <key>year</key>
            <integer>1999</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Star_Wars:_Episode_I_–_The_Phantom_Menace</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Star Trek: Enterprise (TV)</string>
            <key>year</key>
            <integer>2001</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Star_Trek:_Enterprise</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Star Wars: Episode II: Attack of the Clones</string>
            <key>year</key>
            <integer>2002</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Star_Wars:_Episode_II_–_Attack_of_the_Clones</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Star Trek: Nemesis</string>
            <key>year</key>
            <integer>2002</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Star_Trek:_Nemesis</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Star Wars: Clone Wars (TV-2D)</string>
            <key>year</key>
            <integer>2003</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Star_Wars:_Clone_Wars_(2003_TV_series)</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Star Wars: Episode III: Revenge of the Sith</string>
            <key>year</key>
            <integer>2005</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Star_Wars:_Episode_III_–_Revenge_of_the_Sith</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Star Wars: The Clone Wars</string>
            <key>year</key>
            <integer>2008</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Star_Wars:_The_Clone_Wars_(film)</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Star Wars: The Clone Wars (TV)</string>
            <key>year</key>
            <integer>2008</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Star_Wars:_The_Clone_Wars_(2008_TV_series)</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Star Trek</string>
            <key>year</key>
            <integer>2009</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Star_Trek_(film)</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Star Trek Into Darkness</string>
            <key>year</key>
            <integer>2013</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Star_Trek_Into_Darkness</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Star Wars Rebels</string>
            <key>year</key>
            <integer>2014</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Star_Wars_Rebels</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Star Wars: Episode VII: The Force Awakens</string>
            <key>year</key>
            <integer>2015</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Star_Wars:_The_Force_Awakens</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Star Trek Beyond</string>
            <key>year</key>
            <integer>2016</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Star_Trek_Beyond</string>
        </dict>
        <dict>
            <key>movie</key>
            <string>Rogue One: A Star Wars Story</string>
            <key>year</key>
            <integer>2016</integer>
            <key>url</key>
            <string>https://en.wikipedia.org/wiki/Rogue_One</string>
        </dict>
    </array>
</plist>









